<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- remixiocn -->
    <link rel="stylesheet" href="/remix/remixicon.css" type="text/css">
    <!-- bootstrap css  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <form method="post" action="/editEmp" class="mx-auto bg-white py-3 px-4 my-3 rounded-2" style="width: 40%;">
        <h4 class="text-center">Update Emplloyee</h4>

        <input type="hidden" name="empId" value="<%= singleEmp.id %>" />

        <label class="mb-2 mt-3">First Name:- </label>
        <input type="text" name="fName" value="<%= singleEmp.fName %>" class="form-control" placeholder="Enter first name">

        <label class="mb-2 mt-3">Second Name:- </label>
        <input type="text" name="lName" value="<%= singleEmp.lName %>" class="form-control" placeholder="Enter last name">

        <label class="mb-2 mt-3">Email:- </label>
        <input type="text" name="email" value="<%= singleEmp.email %>" class="form-control" placeholder="Enter email">

        <label class="mt-3">Choose Gender:- </label>
        <input type="radio" name="gender" value="Male" class="me-2" <%= singleEmp.gender==='Male'?'checked':'' %>/>Male
        <input type="radio" name="gender" value="Female" class="mx-2" <%= singleEmp.gender==='Female'?'checked':'' %>/>Female
        <input type="radio" name="gender" value="Other" class="mx-2" <%= singleEmp.gender==='Other'?'checked':'' %>/>Other

        <label class="my-2  w-100">Check your Hobby:- </label>
        <% let hobbyNames = ["Reading","Singing","Writing","Playing","Dancing"] %>
        <div class="row">
            <% hobbyNames.map((item)=>{ %>
                <div class="col-3">
                    <input type="checkbox" name="hobby" value="<%= item %>" class="me-2"
                     <%= singleEmp.hobby.includes(item)?'checked':'' %>/><%= item %>
                </div>
            <% }) %>
        </div>

        <label class="mb-2 mt-3">Select your city:- </label>
        <% let cityNames = ["Surat","Vadodra","Rajkot","Vapi","Valsad"] %>
        <select name="city" class="py-1">
            <option value="">--Select--</option>
            <% cityNames.map((item)=>{ %>
                <option value="<%= item %>" <%= singleEmp.city===item?'selected':'' %>><%= item %></option>
            <% }) %>
        </select>

        <label class="mb-2 mt-3 w-100">About:- </label>
        <textarea name="about" placeholder="Enter About" class="form-control"><%= singleEmp.about%></textarea>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <a href="/" class="btn btn-primary">Cancel</a>
        </div>
    </form>

    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body> 
</html>