<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- remix icon  -->
    <link rel="stylesheet" href="/remix/remixicon.css" type="text/css">
    <!-- font family -->
    <link rel="stylesheet" href="/fonts/stylesheet.css" type="text/css">
    <!-- bootstrap css  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <!-- main css  -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header class="position-fixed w-100 z-3 py-2">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <a href="javascript:void(0)" class="navbar-brand text-white">
                    <img src="/images/logo.png" alt="logo" title="logo" width="170px">
                </a>
                <nav class="py-2 d-flex align-items-center">
                    <a href="javascript:void(0)" class="nav-link text-white mx-3">Home</a>
                    <a href="javascript:void(0)" class="nav-link text-white mx-3">Blog</a>
                    <a href="javascript:void(0)" class="nav-link text-white mx-3">Contact</a>
                    <a href="javascript:void(0)" class="nav-link text-white mx-3">About</a>
                    <a href="javascript:void(0)" id="sidebar" class="nav-link mx-3 fs-5 text-white"><i class="ri-user-add-fill"></i></a>
                </nav>
            </div>
        </div>
    </header>

    <aside id="aside" class="position-fixed end-0 d-flex flex-column">
        <form method="post" action="/insertUser" class="py-3 px-4">
            <h2 class="text-center mb-3 fs-4">Add New User</h2>
            <label class="mt-2 mb-1">First Name:- </label>
            <input type="text" name="fName" class="form-control bg-transparent" placeholder="Enter First Name"/>

            <label class="mt-2 mb-1">Last Name:- </label>
            <input type="text" name="lName" class="form-control bg-transparent" placeholder="Enter second Name"/>

            <label class="mt-2 mb-1">Email:- </label>
            <input type="email" name="email" class="form-control bg-transparent" placeholder="Enter Email"/>

            <label class="mt-3 mb-1 w-100">Choose Gender:- </label>
            <input type="radio" name="gender" value="Male" class="me-1"/>Male
            <input type="radio" name="gender" value="Female" class="me-1 ms-3"/>Female
            <input type="radio" name="gender" value="Other" class="me-1 ms-3"/>Other

            <label class="mt-3 mb-1 w-100">Check your hobby:- </label>
            <% let hobbyNames=["Reading","Walking","Playing","Singing","writing"] %>
            <div class="row">
                <% hobbyNames.map((item)=>{ %>
                    <div class="col-lg-3 d-flex">
                        <input type="checkbox" name="hobby" value="<%= item %>"/><span class="ms-2"><%= item %></span>
                    </div>
                <% }) %>
            </div>

            <label class="mt-2 mb-1">Select City:- </label>
            <select name="city" class="bg-transparent">
                <% let cityNames=["Surat","Rajkot","Amreli","Bhavnagar","Vapi"] %>
                <option value="">--select--</option>
                <% cityNames.map((item)=>{ %>
                    <option value="<%= item %>"><%= item %></option>
                <% }) %>
            </select>

            <label class="mt-2 mb-1 w-100">About:- </label>
            <textarea name="about" class="form-control bg-transparent py-1" placeholder="Enter about"></textarea>

            <div class="text-center">
                <button type="submit" class="btn mt-4">Add</button>
            </div>
            
        </form> 
    </aside>

    <main id="main">
        <h2 class="text-center mb-4">Users Details</h2>
        <% if(userData.length <= 0) { %>
            <p class="text-center">No Data Available</p>
        <% } else { %>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="text-nowrap table-primary">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Hobby</th>
                        <th>City</th>
                        <th>About</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <% userData.map((item)=>{ %>
                        <tr>
                            <td><%= item.fName +' '+ item.lName %></td>
                            <td class="text-break"><%= item.email %></td>
                            <td><%= item.gender %></td>
                            <td><%= item.hobby.join(', ') %></td>
                            <td><%= item.city %></td>
                            <td class="text-break"><%= item.about %></td>
                            <td>
                                <div class="d-flex actions">
                                    <a href="/upadateUser/<%= item.id %>" class="nav-link me-2 text-primary fs-5"><i class="ri-pencil-fill"></i></a>
                                    <a href="/deleteUser/<%= item.id %>" class="nav-link fs-5 text-danger"><i class="ri-delete-bin-6-line"></i></a>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </main>

    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
</body>
</html>